<div>
    <div class="topHeaderSection">
        <div class="row">
            <div class="div1">Import-Preview</div>
            <div class="div2">
                <div class="div2Text">Welcome Guest</div>
            </div>
        </div>
    </div>
    <div class="bottomBodySection">
        <div class="row">
            <div class="div3">
                <ul>
                    <div>
                        <li><a href="#"><i class="fa fa-upload custom"></i> Import</a></li>
                        <li><a href="#"><i class="fa fa-bar-chart custom"></i> Reports</a>
                            <!-- <ul>
                                <li><a href="#">Report by Card Number</a></li>
                                <li><a href="#">Report by Month</a></li>
                            </ul> -->
                        </li>
                    </div>
                </ul>
            </div>
            <div class="div4">
                <div><import-section-comp></import-section-comp></div>
            </div>
        </div>
    </div>
</div>