<div>
    <ngb-tabset [justify]="currentJustify">
            <ngb-tab>
                <ng-template ngbTabTitle><b>Report by Card Number</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="tabContainer">
                        <div class=" row form-group">
                            <div class="col col-sm-3">
                                <label><b>Card Number</b></label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="col col-sm-3">
                                <label><b>Month</b></label>
                                <!-- <input type="text" class="form-control"> -->
                                <select class="form-control" [(ngModel)]="selectedMonth">
                                    <option *ngFor="let month of monthArray" [value]="month">{{month}}</option>
                                </select>
                            </div>
                            <div class="col col-sm-3">
                                <label><b>Year</b></label>
                                <input type="text" class="form-control">
                            </div>
                             <!-- <div class="col col-sm-3">
                                 <label><b>Month and Year</b></label>
                                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="selectedByCard" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                            </div> -->
                            <div  style="padding-top:2.1%;"><button class="btn btn-info" (click)="SearchByCard()">Search</button></div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle><b>Report by Date</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="tabContainer">
                        <div class=" row form-group">
                            <div class="col col-sm-3">
                                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="selectedByDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                            </div>
                             <div><button class="btn btn-info">Search</button></div>
                        </div>
                    </div>
                </ng-template>
                </ngb-tab>
    </ngb-tabset>
</div>