<div>
    <ngb-tabset [justify]="currentJustify" class="tabsetContainer">
            <ngb-tab #tab1>
                <ng-template ngbTabTitle><b>Report by Card Number</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="tabContainer">
                        <div>
                            <div class="row form-group">
                                <div class="col col-sm-3">
                                    <input type="text" class="form-control" placeholder="--Card Name/Code(Optional)--">
                                </div>
                                <div class="col col-sm-3">
                                    <select class="form-control" [(ngModel)]="selectedMonth">
                                        <option disabled>--Month--</option>
                                        <option *ngFor="let month of monthArray" [value]="month">{{month}}</option>
                                    </select>
                                </div>
                                <div class="col col-sm-3">
                                    <select class="form-control" [(ngModel)]="selectedYear">
                                        <option disabled>--Year--</option>
                                        <option *ngFor="let year of years" [value]="year">
                                            <div>{{year}}</div>
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-info" (click)="SearchByCard()">Search</button>
                                </div>
                            </div>
                            <div>
                                <data-table *ngIf="showGridByCard" id="gridByCard"></data-table>
                            </div>
                        </div>
                        <div>

                            <div class="card">
                                <div class="card-header" style="padding-bottom:0px;line-height:0.2;">
                                    <div class="row" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                        <div>
                                            <p *ngIf="!isCollapsed">
                                                <i class="fa fa-chevron-down" style="padding-right:10px;"></i><b>gfdsutsfcyd</b>
                                            </p>
                                            <p *ngIf="isCollapsed">
                                                <i class="fa fa-chevron-right" style="padding-right:10px;"></i><b>gfdsutsfcyd</b>
                                            </p>
                                        </div>
                                        <div style="margin-left:70%;margin-top:7px;"><p><b>Aggregated hours : 67</b></p></div>
                                    </div>
                            
                                </div>
                                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                    <div>
                                        <div class="card-body">
                                            You can collapse this card by clicking Toggle
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                    <div class="card-header" style="padding-bottom:0px;line-height:0.2;">
                                        <div class="row" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                            <div>
                                                <p *ngIf="!isCollapsed">
                                                    <i class="fa fa-chevron-down" style="padding-right:10px;"></i><b>gfdsutsfcyd</b>
                                                </p>
                                                <p *ngIf="isCollapsed">
                                                    <i class="fa fa-chevron-right" style="padding-right:10px;"></i><b>gfdsutsfcyd</b>
                                                </p>
                                            </div>
                                            <div style="margin-left:70%;margin-top:7px;"><p><b>Aggregated hours : 67</b></p></div>
                                        </div>
                                
                                    </div>
                                    <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                        <div>
                                            <div class="card-body">
                                                You can collapse this card by clicking Toggle
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <data-table *ngIf="showGridByCard" id="gridByMonth"></data-table>

                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab #tab2>
                <ng-template ngbTabTitle><b>Report by Date</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="tabContainer">
                        <div class=" row form-group">
                            <div class="col col-sm-3">
                                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="selectedByDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); onChangeOfSelectedDate()">
                            </div>
                            <div>
                                <button class="btn btn-info" (click)="getReportByDate()" #btnSearchByDate>Search</button>
                            </div>
                        </div>
                        <div>
                            <data-table *ngIf="showGridByDate" id="gridByDate"></data-table>
                        </div>
                    </div>
                </ng-template>
                </ngb-tab>
    </ngb-tabset>
</div>