/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(235, 242, 247);
    height: 100%;
    width: 100%;
}

 ul {
    list-style-type: none;
    padding:0px;
    padding-top: 10px;
    /* width: 17%;
    background-color:#3d4953; */
    /* position: fixed; */
    /* height: 660px; */
    overflow: auto;

}

li a {
    display: block;
    color: #868e96;
    /* padding: 8px 16px; */
    text-decoration: none;
    /* text-align: center; */
    font-size: 16pt;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    /* background-color: #555; */
    color: white;
} 


.mainDiv1{
    height: 100px;
    width:12%;
    background-color:#3d4953;
    color:#24b8c9;
    text-align: center;
    padding-top: 30px;
    font-size: 16pt;
}
.mainDiv2{
    width: 88%;
    height: 100px;
    color:#24b8c9;
    background-color:#3d4953;
}
.mainDiv3{
    width:12%;
    background-color:#3d4953;
    min-height:960px;
    color:#24b8c9;
    padding-top: 10px;
    text-align: center;
}
.mainDiv4{
    width: 88%;
    /* height: auto; */
}
.fileHeader{
    text-align: center;
    padding-top: 20px;
}

.left-container{
    position: fixed;
    z-index: 999;
}

.right-container{
    position: relative;
    width: 88%;
    left: 12%;
}
.jumbo{
    margin-top: 10px;
}


.div1{
    width: 17%;
    height: 20%;
    min-height: 70px;
    padding-top: 15px;
    background-color: #343a40;
    color: white;
    text-align: center;
    font-size: 18pt;
}
.div2{
    width: 83%;
    height: 20%;
    min-height: 70px;
    background-color: #343a40;
    color: #868e96;
}

.div2Text{
    float: right;
    padding-top: 15px;
    padding-right: 25px;
    font-size: 16pt;
    color: white;
}

.div3{
    width: 17%;
    background-color: #343a40;
    height: 80%;
    min-height: 965px;
    padding-top: 20px;
    padding-left:40px;
    color: #868e96;
    /* text-align: center; */
    position: fixed;
    z-index: 999;
}
.div4{
    width: 83%;
    position: relative;
    left:17%;
}
.topHeaderSection{
    position: fixed;
    z-index: 999;
    width: 100%;
}
.bottomBodySection{
    position: relative;
    top:70px;
}

.mainImportDiv{
    padding-left: .5%;
    padding-top: 20px;
}

.fileSelectContainer{
    margin-left: 40%;
    float: right;
    padding-right: 40px;
}

#noDataSpanEle{
   margin-left: 42%;
   font-size: 24pt;
}

.dataGrid{
    margin-top: 40px;
}

.card-body .dataGrid{
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.dataGridContainer{
    height: 500px;
    width: 100%;
    top:20px;
    /* padding-top:50px; */
    position:relative;
    top:40px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.filterAllBar{
    position:fixed;
    z-index:999;
    padding-top: 15px;
}

.tabsetContainer{
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    /* background-color:#E0E0E0; */
    background-color: rgb(235, 242, 247);
    color: black;
    /* border-color:#B8B8B8; */
    border-color: rgba(	184,184,184 ,0.3);
    border-bottom-color:rgb(235, 242, 247);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: #763D96;
}

.nav-tabs .nav-link{
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-top-width: 3px;
    border-right-width: 3px;
    border-left-width: 3px;
    background-color:#E0E0E0;
    border-bottom-width:3px;
    border-bottom-color: rgba(184,184,184, 0.3);
}

.tabContainer{
    padding-top: 10px;
    padding-left: 1%;
}
.reportSubmit{
    margin-top: 50px; 
    margin-left: 50%;
}

#alignMonthlyHours{
    padding-left:250px;
}

/* input[type="number"]{
    overflow-y:visibility=hidden;
}

 To remove the spinner from input type=number box 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
} */




