<div>
    <div class="mainImportDiv">
        <div>
            <input type="file" id="hideFileInputButton" #fileName [hidden]="true" xlsx [xlsxModel]="data" multiple="false" (fileData)="DataRecieved($event)">
            <table>
                <tr>
                    <td>
                        <input type="text" [(ngModel)]="FileName" disabled placeholder="selected file is...">
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="SelectFile()">Select File</button>
                    </td>
                    <!-- <td><button class="btn btn-primary" id="uploadBotton" (click)="OpenModal()">Upload</button></td> -->
                </tr>
            </table>
        </div>
        <!-- <data-table [columns] = "reportColumnOptions" [rows] = "recievedFileData.Sheet1" #dtCtrl></data-table> -->
        <div>
            <span *ngIf="!showGrid">No Data to show</span>
            <data-table *ngIf="showGrid"></data-table>
        </div>
    </div>
</div>
        <!-- <div class="well">
            <table class="table table-responsive">
                <tr>
                    <th>Node</th>
                    <th>Panel</th>
                    <th>Event</th>
                    <th>Event Date/Time</th>
                    <th>Card No</th>
                    <th>Card Name</th>
                    <th>Location</th>
                    <th>Rdr</th>
                    <th>Affiliation</th>
                </tr>
                <tr *ngFor="let item of recievedFileData.Sheet1">
                    <td>{{item["Node"]}}</td>
                    <td>{{item["Panel"]}}</td>
                    <td>{{item["Event"]}}</td>
                    <td>{{item["Event Date/Time"]}}</td>
                    <td>{{item["Card No."]}}</td>
                    <td>{{item["Card Name"]}}</td>
                    <td>{{item["Location"]}}</td>
                    <td>{{item["Rdr"]}}</td>
                    <td>{{item["Affiliation"]}}</td>
                </tr>
            </table>
        </div> -->
