<div class="container">
    <div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="jumbotron jumbo">
        Select month and year of the file
        <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker> -->
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
        <button class="btn btn-primary" (click)="Submit()">Submit</button>
        <!-- <div>
            <button class="btn btn-outline-secondary" (click)="d.toggle()">
                    <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </div> -->
    </div>
    <!-- <div><button class="btn btn-primary" (click)="Submit()">Submit</button></div> -->
    <!-- <pre>Model: {{ model | json }}</pre> -->
</div>